PROJECTS-DIY/timerPDM/node-red/timerPDM.json
[{"id":"8c23fe0f.8931a","type":"tab","label":"PDMtimer-red","disabled":false,"info":""},{"id":"9c58006f.4632c","type":"mqtt out","z":"8c23fe0f.8931a","name":"","topic":"/ozone/timerpdm/1/command","qos":"","retain":"","broker":"242a92e8.49256e","x":480,"y":260,"wires":[]},{"id":"c43e2e7e.63433","type":"inject","z":"8c23fe0f.8931a","name":"","topic":"","payload":"end","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["9c58006f.4632c"]]},{"id":"f5305669.e40c28","type":"inject","z":"8c23fe0f.8931a","name":"go","topic":"","payload":"go","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["9c58006f.4632c"]]},{"id":"79339914.492f88","type":"mqtt out","z":"8c23fe0f.8931a","name":"","topic":"/ozone/timerpdm/1/set","qos":"","retain":"","broker":"242a92e8.49256e","x":500,"y":660,"wires":[]},{"id":"f6e7ccf5.d1a35","type":"inject","z":"8c23fe0f.8931a","name":"nowtime","topic":"","payload":"{\"data\":\"nowtime\",\"value\":\"15:23:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["79339914.492f88"]]},{"id":"6dbd13c5.6446cc","type":"inject","z":"8c23fe0f.8931a","name":"PDM","topic":"","payload":"{\"data\":\"PDM\",\"value\":6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":800,"wires":[["79339914.492f88"]]},{"id":"3181d556.850dca","type":"inject","z":"8c23fe0f.8931a","name":"OFFtime","topic":"","payload":"{\"data\":\"OFFtime\",\"value\":3}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":880,"wires":[["79339914.492f88"]]},{"id":"3539f4d2.d4feac","type":"inject","z":"8c23fe0f.8931a","name":"mode 0: OFF","topic":"","payload":"{\"data\":\"mode\",\"value\":0}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":660,"wires":[["79339914.492f88"]]},{"id":"bf757377.db2bd","type":"inject","z":"8c23fe0f.8931a","name":"mde 2: LOOP","topic":"","payload":"{\"data\":\"mode\",\"value\":2}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":740,"wires":[["79339914.492f88"]]},{"id":"16b0cb3a.e16255","type":"inject","z":"8c23fe0f.8931a","name":"mode 1: AUTO","topic":"","payload":"{\"data\":\"mode\",\"value\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["79339914.492f88"]]},{"id":"f38a06b4.ac4a28","type":"inject","z":"8c23fe0f.8931a","name":"ONtime","topic":"","payload":"{\"data\":\"ONtime\",\"value\":2}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["79339914.492f88"]]},{"id":"477dd745.4752f8","type":"inject","z":"8c23fe0f.8931a","name":"Ttime","topic":"","payload":"{\"data\":\"Ttime\",\"value\":\"17:26\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":920,"wires":[["79339914.492f88"]]},{"id":"6bf720b6.10fe7","type":"ui_text_input","z":"8c23fe0f.8931a","name":"Tstart","label":"[hh:mm]","tooltip":"AUTO: start time (or START) ","group":"23589117.7ffb4e","order":6,"width":3,"height":1,"passthru":false,"mode":"time","delay":"600","topic":"/ozone/timerpdm/1/set","x":850,"y":1520,"wires":[["6ce49c5.4236f64"]]},{"id":"1ade8721.a67789","type":"ui_slider","z":"8c23fe0f.8931a","name":"PDM","label":"% Power","tooltip":"PDM; power control   2.. 100 %","group":"23589117.7ffb4e","order":1,"width":7,"height":1,"passthru":false,"outs":"end","topic":"/ozone/timerpdm/1/set","min":"2","max":"100","step":1,"x":850,"y":1340,"wires":[["b267f8c8.2f57b8"]]},{"id":"8047fe8.1f956","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"23589117.7ffb4e","order":2,"width":2,"height":1,"passthru":false,"label":"OFF","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"{\"data\":\"mode\",\"value\":0}","payloadType":"json","topic":"/ozone/timerpdm/1/set","x":1110,"y":1220,"wires":[["ce04870f.8a8ef8"]]},{"id":"d73f338b.f4451","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"23589117.7ffb4e","order":7,"width":2,"height":1,"passthru":false,"label":"LOOP","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"{\"data\":\"mode\",\"value\":2}","payloadType":"json","topic":"/ozone/timerpdm/1/set","x":1110,"y":1300,"wires":[["ce04870f.8a8ef8"]]},{"id":"fbfc3a49.9236d8","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"23589117.7ffb4e","order":4,"width":2,"height":1,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"{\"data\":\"mode\",\"value\":1}","payloadType":"json","topic":"/ozone/timerpdm/1/set","x":1110,"y":1260,"wires":[["ce04870f.8a8ef8"]]},{"id":"375be437.fa9b6c","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"23589117.7ffb4e","order":11,"width":3,"height":1,"passthru":false,"label":"STOP NOW","tooltip":"","color":"","bgcolor":"FIREBRICK","icon":"","payload":"end","payloadType":"str","topic":"/ozone/timerpdm/1/command","x":870,"y":1860,"wires":[["ce04870f.8a8ef8"]]},{"id":"9ab7eeac.85f52","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"23589117.7ffb4e","order":10,"width":3,"height":1,"passthru":false,"label":"START NOW","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"go","payloadType":"str","topic":"/ozone/timerpdm/1/command","x":870,"y":1820,"wires":[["ce04870f.8a8ef8"]]},{"id":"83ff1e5c.a285","type":"ui_template","z":"8c23fe0f.8931a","group":"23589117.7ffb4e","name":"","order":12,"width":7,"height":1,"format":"<div style = \"border: medium solid #1E90FF;\n border-radius:10px; padding-left:8px; padding-bottom:6px\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":1160,"wires":[[]]},{"id":"9d33b8a4.7a0368","type":"mqtt in","z":"8c23fe0f.8931a","name":"","topic":"/ozone/timerpdm/1/status/info","qos":"2","datatype":"auto","broker":"242a92e8.49256e","x":180,"y":1220,"wires":[["2b6e9709.f02308"]]},{"id":"ce04870f.8a8ef8","type":"mqtt out","z":"8c23fe0f.8931a","name":"MQTT send","topic":"","qos":"","retain":"","broker":"242a92e8.49256e","x":1430,"y":1560,"wires":[]},{"id":"62991463.f96bac","type":"function","z":"8c23fe0f.8931a","name":"get time","func":"var d = new Date();\nvar t = d.toLocaleTimeString();\nmsg.payload =\"{\\\"data\\\":\\\"nowtime\\\",\\\"value\\\":\\\"\"+t+\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":1680,"wires":[["ce04870f.8a8ef8"]]},{"id":"ef782287.dc575","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"\nmsg.payload =\"{\\\"data\\\":\\\"timezone\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1620,"wires":[["ce04870f.8a8ef8"]]},{"id":"a2969a5f.4d3e48","type":"mqtt in","z":"8c23fe0f.8931a","name":"","topic":"/ozone/timerpdm/1/status/config","qos":"2","datatype":"auto","broker":"242a92e8.49256e","x":190,"y":1340,"wires":[["d4fa0132.54446"]]},{"id":"d4fa0132.54446","type":"json","z":"8c23fe0f.8931a","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":1340,"wires":[["46bf4e2e.b21cc"]]},{"id":"56d4ee6.fe6fc1","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"msg.payload =\"{\\\"data\\\":\\\"ONtime\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1400,"wires":[["ce04870f.8a8ef8"]]},{"id":"b267f8c8.2f57b8","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"msg.payload =\"{\\\"data\\\":\\\"PDM\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1360,"wires":[["ce04870f.8a8ef8"]]},{"id":"568d41c3.b8cb5","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"msg.payload =\"{\\\"data\\\":\\\"OFFtime\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1440,"wires":[["ce04870f.8a8ef8"]]},{"id":"6ce49c5.4236f64","type":"function","z":"8c23fe0f.8931a","name":"format time","func":"var min = (msg.payload/60000)%(24*60);\nmsg.payload =\"{\\\"data\\\":\\\"Ttime\\\",\\\"value\\\":\\\"\";\nmsg.payload +=(\"00\"+Math.floor(min/60)).slice(-2)+\":\"+(\"00\"+min%60).slice(-2) +\":00\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1090,"y":1480,"wires":[["ce04870f.8a8ef8"]]},{"id":"46bf4e2e.b21cc","type":"function","z":"8c23fe0f.8931a","name":"split config","func":"var msg1 = { payload: msg.payload.mode };\nvar msg2 = { payload: msg.payload.PDM };\nvar msg3 = { payload: msg.payload.ONtime };\nvar msg4 = { payload: msg.payload.OFFtime};\n\nvar a = msg.payload.Ttime.split(':'); // split it at the colons\nvar mils = (+a[0]) * 3600000 + (+a[1]) * 60000 + (+a[2]) * 1000;\nvar msg5 = {payload: mils};\n\nvar msg6 = { payload: msg.payload.timezone};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":570,"y":1340,"wires":[["62b128d.ae3f7d8"],["1ade8721.a67789"],["9ebcff2.fc78c"],["adf096bb.2e5138"],["6bf720b6.10fe7"],["17483dd4.f980c2"]]},{"id":"62b128d.ae3f7d8","type":"function","z":"8c23fe0f.8931a","name":"background msg","func":"\nvar mode = msg.payload;\nvar msg0 = {background: \"#006666\"};\nvar msg1 = {background: \"#006666\"};\nvar msg2 = {background: \"#006666\"};\nswitch(mode){\n   case 0:  msg0.background = \"DarkOliveGreen\"; break;\n   case 1:  msg1.background = \"DarkOliveGreen\"; break;  \n   case 2:  msg2.background = \"DarkOliveGreen\"; break;\n}\n\nreturn [msg0, msg1, msg2];","outputs":3,"noerr":0,"x":880,"y":1260,"wires":[["8047fe8.1f956"],["fbfc3a49.9236d8"],["d73f338b.f4451"]]},{"id":"e171bf43.ea159","type":"mqtt in","z":"8c23fe0f.8931a","name":"","topic":"/ozone/timerpdm/1/status/output","qos":"2","datatype":"json","broker":"242a92e8.49256e","x":190,"y":1520,"wires":[["550c9c5.0ede664"]]},{"id":"550c9c5.0ede664","type":"json","z":"8c23fe0f.8931a","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":1520,"wires":[["e9eb2c1b.aa65e"]]},{"id":"e9eb2c1b.aa65e","type":"function","z":"8c23fe0f.8931a","name":"split output","func":"var msg1 = { payload: msg.payload.Time };\nvar msg2 = { payload: msg.payload.PDM };\nvar msg3 = { payload: msg.payload.mode };\n\nvar msg4 = { enabled:(msg.payload.mode === 0)};\n\nvar msg5 = { enabled:(msg.payload.output === 0)};\nvar msg6 = { enabled:(msg.payload.output > 0)};\n\nif ((msg.payload.mode > 0) && (msg.payload.toggle > 0)){\n    msg5.enabled = true;\n    msg6.enabled = true;\n} else\nswitch (msg.payload.mode) {\n    case 1:\n      break;\n    case 2:\n      msg5.enabled = (msg.payload.count <= 0);\n      msg6.enabled = (msg.payload.count > 0);\n      break;\n    default:\n      msg5.enabled = false;\n      msg6.enabled = true;\n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"x":570,"y":1520,"wires":[[],[],["62b128d.ae3f7d8"],["1ade8721.a67789","9ebcff2.fc78c","adf096bb.2e5138","6bf720b6.10fe7","17483dd4.f980c2","4e528396.da9bec","f7b084c.f7bd778","1a25b886.4bd047","9a471a89.573888"],["9ab7eeac.85f52"],["375be437.fa9b6c"]]},{"id":"7e94e724.e05448","type":"status","z":"8c23fe0f.8931a","name":"get node errors","scope":["9c58006f.4632c","79339914.492f88","9d33b8a4.7a0368","a2969a5f.4d3e48","e171bf43.ea159"],"x":380,"y":1160,"wires":[["57ec6781.cfe1c8"]]},{"id":"57ec6781.cfe1c8","type":"function","z":"8c23fe0f.8931a","name":"format txt","func":"if(msg.status.fill == \"red\") {\n  msg.payload = \"MQTT connection down: wait \"\n  return msg;\n}","outputs":1,"noerr":0,"x":560,"y":1160,"wires":[["83ff1e5c.a285"]]},{"id":"f7b084c.f7bd778","type":"ui_text_input","z":"8c23fe0f.8931a","name":"","label":"WiFi SSID","tooltip":"WiFi router name","group":"cc5c8396.90ab2","order":3,"width":7,"height":1,"passthru":false,"mode":"text","delay":"600","topic":"/ozone/timerpdm/1/set","x":870,"y":1720,"wires":[["1bfb321e.2f15be"]]},{"id":"1a25b886.4bd047","type":"ui_text_input","z":"8c23fe0f.8931a","name":"","label":"WiFi password","tooltip":"WiFi router password","group":"cc5c8396.90ab2","order":4,"width":7,"height":1,"passthru":false,"mode":"password","delay":"600","topic":"","x":880,"y":1760,"wires":[["9481032b.2a91b"]]},{"id":"1bfb321e.2f15be","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"\nmsg.payload =\"{\\\"data\\\":\\\"ssid\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1720,"wires":[["ce04870f.8a8ef8"]]},{"id":"9481032b.2a91b","type":"function","z":"8c23fe0f.8931a","name":"format msg","func":"\nmsg.payload =\"{\\\"data\\\":\\\"pssw\\\",\\\"value\\\":\\\"\"+msg.payload +\"\\\"}\";\nmsg.topic=\"/ozone/timerpdm/1/set\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":1760,"wires":[["ce04870f.8a8ef8"]]},{"id":"84af7c18.2565f","type":"inject","z":"8c23fe0f.8931a","name":"","topic":"","payload":"send","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["9c58006f.4632c"]]},{"id":"c5ca59ac.0292e8","type":"inject","z":"8c23fe0f.8931a","name":"send","topic":"","payload":"send","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["79339914.492f88"]]},{"id":"ba1ca5f7.3924e8","type":"inject","z":"8c23fe0f.8931a","name":"timezone","topic":"","payload":"{\"data\":\"timezone\",\"value\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":560,"wires":[["79339914.492f88"]]},{"id":"c3be3f79.0e3b8","type":"inject","z":"8c23fe0f.8931a","name":"password","topic":"","payload":"{\"data\":\"pssw\",\"value\":\"cirohomewifi\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["79339914.492f88"]]},{"id":"5e96264f.0a6a18","type":"inject","z":"8c23fe0f.8931a","name":"ssid","topic":"","payload":"{\"data\":\"ssid\",\"value\":\"msFRITZBox\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":440,"wires":[["79339914.492f88"]]},{"id":"e57d42f0.c4ad4","type":"inject","z":"8c23fe0f.8931a","name":"off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["9c58006f.4632c"]]},{"id":"4e528396.da9bec","type":"ui_button","z":"8c23fe0f.8931a","name":"","group":"cc5c8396.90ab2","order":1,"width":3,"height":1,"passthru":false,"label":"set clock","tooltip":"Set clock from device time (zone = 0)","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":860,"y":1680,"wires":[["62991463.f96bac"]]},{"id":"cfb6cfdb.cfe5","type":"comment","z":"8c23fe0f.8931a","name":"TEST FLOWS","info":"","x":90,"y":100,"wires":[]},{"id":"331b248a.3bf3bc","type":"comment","z":"8c23fe0f.8931a","name":"PDM TIMER FLOW","info":"","x":110,"y":1100,"wires":[]},{"id":"cf018a50.6fa4c8","type":"inject","z":"8c23fe0f.8931a","name":"refresh commands","topic":"/ozone/timerpdm/1/command","payload":"send","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.3","x":1070,"y":1560,"wires":[["ce04870f.8a8ef8"]]},{"id":"9937e58f.752af8","type":"inject","z":"8c23fe0f.8931a","name":"refresh config","topic":"/ozone/timerpdm/1/set","payload":"{\"data\":\"send\",\"value\":0}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"0.4","x":1080,"y":1520,"wires":[["ce04870f.8a8ef8"]]},{"id":"adf096bb.2e5138","type":"ui_numeric","z":"8c23fe0f.8931a","name":"OFFtime","label":"OFF time [min]","tooltip":"LOOP mode OFF time","group":"23589117.7ffb4e","order":8,"width":5,"height":1,"wrap":false,"passthru":false,"topic":"/ozone/timerpdm/1/set","format":"{{value}} ","min":"1","max":"1440","step":1,"x":860,"y":1460,"wires":[["568d41c3.b8cb5"]]},{"id":"9ebcff2.fc78c","type":"ui_numeric","z":"8c23fe0f.8931a","name":"ONtime","label":"ON time [min]","tooltip":"Ozone ON time ","group":"23589117.7ffb4e","order":3,"width":5,"height":1,"wrap":false,"passthru":false,"topic":"/ozone/timerpdm/1/set","format":"{{value}}","min":"1","max":"360","step":1,"x":860,"y":1400,"wires":[["56d4ee6.fe6fc1"]]},{"id":"17483dd4.f980c2","type":"ui_numeric","z":"8c23fe0f.8931a","name":"","label":"NTPtimezone","tooltip":"NTP timezone, DST summer time","group":"cc5c8396.90ab2","order":2,"width":4,"height":1,"wrap":true,"passthru":false,"topic":"","format":"{{value}}","min":"-12","max":"12","step":1,"x":880,"y":1620,"wires":[["ef782287.dc575"]]},{"id":"2d26a1a1.7543fe","type":"ui_template","z":"8c23fe0f.8931a","group":"23589117.7ffb4e","name":"LED","order":9,"width":1,"height":1,"format":"<style>\n.led {\n    float: right;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    margin: 5px 5px 5px 15px;\n    border-radius: 50%;\n    \n}\n</style>\n\n<div>\n    <span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.payload}} 0 3px 15px;\">\n    </span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":850,"y":1200,"wires":[[]]},{"id":"f7e89f6e.fff27","type":"function","z":"8c23fe0f.8931a","name":"split info","func":"\nvar msg2 = { payload: msg.payload[0]};\nswitch (msg.payload[1]) {\n    case 0:\n        msg.payload = \"grey\";\n        break;\n    case 1:\n        msg.payload = \"LimeGreen\";\n        break;\n    default:\n        msg.payload = \"Red\";\n}\nreturn [msg2, msg];\n","outputs":2,"noerr":0,"x":560,"y":1220,"wires":[["83ff1e5c.a285"],["2d26a1a1.7543fe"]]},{"id":"2b6e9709.f02308","type":"json","z":"8c23fe0f.8931a","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":1220,"wires":[["f7e89f6e.fff27"]]},{"id":"9a471a89.573888","type":"ui_text","z":"8c23fe0f.8931a","group":"23589117.7ffb4e","order":5,"width":2,"height":1,"name":"label STime","label":"Start time","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1560,"wires":[]},{"id":"242a92e8.49256e","type":"mqtt-broker","z":"","name":"Timer PDM","broker":"192.168.1.104","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23589117.7ffb4e","type":"ui_group","z":"","name":"PDM Ozone Timer control","tab":"67759311.7c76ac","order":2,"disp":true,"width":"7","collapse":false},{"id":"cc5c8396.90ab2","type":"ui_group","z":"","name":"WiFi & clock","tab":"67759311.7c76ac","order":2,"disp":true,"width":7,"collapse":true},{"id":"67759311.7c76ac","type":"ui_tab","z":"","name":"PDMtimer","icon":"dashboard","disabled":false,"hidden":false}]